<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="MessageFormat" value="${gdc:item=MessageIndent}${message}"/>
  <variable name="LayoutFormat" value="[${shortdate} ${date:format=HH\:mm\:ss}] [${level}] ${MessageFormat} ${onexception:${exception:format=tostring,stacktrace}${newline}${stacktrace}}"/>

  <targets>
    <target name="console" xsi:type="Console" layout="${LayoutFormat}" />
    <target name="file" xsi:type="File" fileName="Cruciatus.log" layout="${LayoutFormat}" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="console" />
    <logger name="*" writeTo="file" />
  </rules>
</nlog>